@{
    ViewBag.Title = "صفحه اصلی";
}



<link href="~/components/OwlCarousel2-2.3.4/dist/assets/owl.carousel.min.css" rel="stylesheet" />
<link href="~/components/OwlCarousel2-2.3.4/dist/assets/owl.theme.default.min.css" rel="stylesheet" />
<link href="~/css/animate.css" rel="stylesheet" />
<!-- Set up your HTML -->
<style>
    .btn-custom {
        border-radius: 30px;
        background-color: white !important;
        padding: 20px 40px 20px 40px;
        color: #1a1b4f;
        border: 1px #0000cd
    }
    .btn-custom:hover {
        border-radius: 30px;
        background-color: green !important;
        padding: 20px 40px 20px 40px;
        color: white;
        border: 1px #0000cd;
        transition: 0.1s  
    }
    h1, h2, h3, h4, h5, h6, p {
        color:white
    }
    body {
        background-color: white
    }
</style>

<div class="owl-carousel owl-theme owl-loaded" style="min-width: 100vw; width:100vw; position: absolute; right: 0">
<div class="owl-stage-outer">
    <div class="owl-stage">
        <div class="owl-item">
            <div style="background-image: linear-gradient(#3c8dbc, #1a1b4f); height: 80vh">
                <div class="row">
                    <div class="col-md-12 text-center"  style="margin-top: 10vh">
                        <h2 class="center-block">متن تستی</h2>
                    </div>
                    <div class="col-md-12 text-center" >
                        <h3 class="center-block">متن تستیمتن تستیمتن تستیمتن تستی</h3>
                    </div>
                    <div class="col-md-12 text-center">
                        <p style="margin:10vh">
                            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد.

                        </p>
                    </div>
                    <div class="col-md-12 text-center">
                        <a class="btn btn-lg btn-custom">ثبت نام</a> 
                    </div>
                </div>
            </div>
        </div>        
        <div class="owl-item">
            <div style="background-image: linear-gradient(#3c8dbc, green); height: 80vh">
                <div class="row">
                    <div class="col-md-12 text-center" style="margin-top: 10vh">
                        <h2 class="center-block">متن تستی</h2>
                    </div>
                    <div class="col-md-12 text-center">
                        <h3 class="center-block">متن تستیمتن تستیمتن تستیمتن تستی</h3>
                    </div>
                    <div class="col-md-12 text-center">
                        <p style="margin:10vh">
                            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد.
                        </p>
                    </div>
                    <div class="col-md-12 text-center">
                        <a class="btn btn-lg btn-custom">ثبت نام</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="owl-item">
            <div style="background-image: linear-gradient(#3c8dbc, orange); height: 80vh">
               <div class="row">
                    <div class="col-md-12 text-center"  style="margin-top: 10vh">
                        <h2 class="center-block">متن تستی</h2>
                    </div>
                    <div class="col-md-12 text-center">
                        <h3 class="center-block">متن تستیمتن تستیمتن تستیمتن تستی</h3>
                    </div>
                   <div class="col-md-12 text-center">
                       <p style="margin:10vh">
                           لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد.
                       </p>
                   </div>
                   <div class="col-md-12 text-center">
                       <a class="btn btn-lg btn-custom">ثبت نام</a> 
                   </div>

                </div>
            </div>
        </div>

    </div>
</div>
</div>


    @section Scripts{
        <script src="~/components/OwlCarousel2-2.3.4/dist/owl.carousel.min.js"></script>
        <script>
            $(document).ready(function () {
                $(".owl-carousel").owlCarousel({
                    items: 1,
                    rtl: true,
                    autoplay: true,
                    autoplayTimeout: 5000,
                    autoplayHoverPause: true,
                    animateIn: 'fadeInRight',
                    animateOut: 'fadeOutLeft',
                    loop: true,
                    //slideTransition: 'linear',
                    fluidSpeed: 1000
                });
            });
        </script>
    }
