<h1>لیست تراکنشهای تسویه</h1>

<table class="table table-bordered table-hover table-responsive-md text-center">
    <thead>
        <tr>
            <th>ردیف</th>
            <th>تاریخ تراکنش تسویه</th>
            <th>مبلغ تراکنش تسویه</th>
            <th>شماره شبا</th>
            <th>نام صاحب حساب</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>1/1/1</td>
            <td>80،000 ریال</td>
            <td>111-111111-11111-111</td>
            <td>علی علیپور</td>
        </tr>
    </tbody>
</table>
