@model QuestionnaireProject.Areas.Questioner.Models.QuestionnaireSummaryModel
@{
    ViewBag.Title = "ارسال به ویراستار";
    //Layout = "~/Views/Shared/_DashboardLayout.cshtml";
    Layout = "~/Views/Shared/_QuestionerDashboardLayout.cshtml";
}

<h2>ارسال به ویراستار</h2>
@Html.Partial("_QuestionnaireToEditorProgressBox")
@Html.Partial("_QuestionnaireToEditorSummary")

